<div class="grid p-fluid">
  <div class="col-12 md:col-6 lg:col-4">
    <div class="p-inputgroup">
      <span class="p-float-label">
        <input
          id="searchBarcode"
          type="text"
          pInputText
          pAutoFocus
          [autofocus]="true"
          [formControl]="searchCtrl"
          (keyup.enter)="searchData()"
        />
        <label htmlFor="searchBarcode">Kode barcode</label>
      </span>
      <button
        type="button"
        pButton
        icon="pi pi-search"
        styleClass="p-button-warn"
        (click)="searchData()"
      ></button>
    </div>
  </div>
</div>
<div *ngIf="data && !loading" class="surface-card p-4 shadow-2 border-round mt-3">
  <div class="flex justify-content-between">
    <div class="font-medium text-3xl text-900 mb-5">Data Pendaftar</div>
    <div class="font-medium">
      <a
          *ngIf="!data.registered"
          type="button"
          pButton
          label="Registrasi"
          class="mr-2"
          (click)="register()"
        ></a>
      <a
        type="button"
        pButton
        label="Detail"
        icon="pi pi-link"
        class="no-underline p-button-info"
        iconPos="right"
        [routerLink]="['detail']"
        [state]="{ id: data.id }"
      ></a>
    </div>
  </div>
  <div class="grid grid-nogutter border-top-1 surface-border pt-2">
    <div class="col-12 md:col-6 p-3">
      <div class="text-500 font-medium mb-2">Name</div>
      <div class="text-900">{{ data.firstName }} {{ data.lastName }}</div>
    </div>
    <div class="col-12 md:col-6 p-3">
      <div class="text-500 font-medium mb-2">Tim</div>
      <div class="text-900">{{ data.team }}</div>
    </div>
    <div class="col-12 md:col-6 p-3">
      <div class="text-500 font-medium mb-2">Email</div>
      <div class="text-900">{{ data.email }}</div>
    </div>
    <div class="col-12 md:col-6 p-3">
      <div class="text-500 font-medium mb-2">Kelas Perlombaan</div>
      <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
        <p-chip
          *ngFor="let class of data.class"
          [label]="class.name"
          styleClass="mr-2 mb-2"
        ></p-chip>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="loading">
  <div class="surface-card p-4 shadow-2 border-round mt-3">
    <div class="flex justify-content-between">
      <div class="font-medium text-3xl text-900 mb-5">Data Pendaftar</div>
      <div class="font-medium">
        <p-skeleton width="6rem" height="2.5rem" styleClass="mb-2"></p-skeleton>
      </div>
    </div>
    <div class="grid grid-nogutter border-top-1 surface-border pt-2">
      <div class="col-12 md:col-6 p-3">
        <div class="text-500 font-medium mb-2">
          <p-skeleton width="4rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="text-900">
          <p-skeleton width="11rem" styleClass="mb-2"></p-skeleton>
        </div>
      </div>
      <div class="col-12 md:col-6 p-3">
        <div class="text-500 font-medium mb-2">
          <p-skeleton width="4rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="text-900">
          <p-skeleton width="11rem" styleClass="mb-2"></p-skeleton>
        </div>
      </div>
      <div class="col-12 md:col-6 p-3">
        <div class="text-500 font-medium mb-2">
          <p-skeleton width="4rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="text-900">
          <p-skeleton width="11rem" styleClass="mb-2"></p-skeleton>
        </div>
      </div>
      <div class="col-12 md:col-6 p-3">
        <div class="text-500 font-medium mb-2">
          <p-skeleton width="8rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          <p-skeleton width="11rem" styleClass="mb-2"></p-skeleton>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<p-toast></p-toast>
