#avatar {
  /* make a square container */
  width: 45px;
  height: 45px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: top center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}

@media screen and (min-width: 992px) {
    .lg\:ml-280px {
        margin-left: 280px !important;
    }
}