<div class="text-900 font-medium text-xl mb-3">Detail Profil</div>
<p class="m-0 mb-4 p-0 text-600 line-height-3 mr-3">
  Detail profil anda. Anda dapat mengupdate foto profil dan nomor telpon
</p>
<p-card>
  <div class="grid formgrid p-fluid">
    <div class="field mb-4 col-12">
      <label for="nickname" class="font-medium">Nickname</label>
      <input
        id="nickname"
        type="text"
        pInputText
      />
    </div>
    <!-- <div class="surface-100 mb-3 col-12" style="height: 2px"></div> -->
    <div class="field mb-4 col-12 md:col-6">
      <label for="email" class="font-medium">Email</label>
      <input
        id="email"
        type="text"
        pInputText
      />
    </div>
    <div class="field mb-4 col-12 md:col-6">
      <label for="avatar" class="font-medium">Avatar</label>
      <div class="grid grid-nogutter align-items-center">
        <div
          id="avatar"
          class="mr-2 mb-2"
          style="
            background-image: url('../../../assets/images/emily-garland.jpg');
          "
        ></div>
        <div class="col-10">
          <p-fileUpload
            mode="basic"
            accept="image/*"
            chooseLabel="Upload Gambar"
            styleClass="p-button-outlined p-button-plain"
            [maxFileSize]="1000000"
            [multiple]="false"
            [showCancelButton]="true"
            [customUpload]="true"
            (uploadHandler)="uploadImage($event)"
          ></p-fileUpload>
        </div>
      </div>
    </div>
    <div class="surface-100 mb-3 col-12" style="height: 2px"></div>
    <div class="col-12">
      <button
        pbutton=""
        label="Save Changes"
        class="w-auto mt-3 p-button p-component"
      >
        <span class="p-button-label">Simpan Perubahan</span>
      </button>
    </div>
  </div>
</p-card>
