<div class="lg:px-8 md:px-6 px-4 pt-6 pb-7 surface-section">
  <div class="surface-section">
    <div class="flex justify-content-between">
      <div class="font-medium text-3xl text-900 mb-5">
        <a
          pButton
          icon="pi pi-arrow-left"
          class="no-underline p-button-rounded p-button-text"
          routerLink="/registration"
        ></a>
        Data Pendaftar
      </div>
      <div class="font-medium">
        <button
          *ngIf="data && !data.registered"
          type="button"
          pButton
          label="Registrasi"
          (click)="register()"
        ></button>
        <div
          *ngIf="data && data.registered"
          class="border-1 border-green-800 border-round p-2"
        >
          Berhasil Registrasi
        </div>
        <p-skeleton
          *ngIf="!data"
          width="7rem"
          height="2.5rem"
          styleClass="mb-2"
        ></p-skeleton>
      </div>
    </div>
    <ng-container *ngIf="data; else loading">
      <ul class="list-none p-0 m-0">
        <li
          class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 w-8 md:w-3 font-medium">Nama</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ data.firstName }} {{ data.lastName }}
          </div>
        </li>
        <li
          class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 w-8 md:w-3 font-medium">NIK Pembalap</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ data.nik }}
          </div>
        </li>
        <li
          class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 w-8 md:w-3 font-medium">Email</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ data.email }}
          </div>
        </li>
        <li
          class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 w-8 md:w-3 font-medium">Telepon</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ data.phone }}
          </div>
        </li>
        <li
          class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 w-8 md:w-3 font-medium">
            Tempat, Tanggal Lahir
          </div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ data.placeOfBirth }}, {{ data.dateOfBirth }}
          </div>
        </li>
        <li
          class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 w-8 md:w-3 font-medium">Tim</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ data.team }}
          </div>
        </li>
        <li
          class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 w-8 md:w-3 font-medium">Kota</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            {{ data.city }}
          </div>
        </li>
        <li
          class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap"
        >
          <div class="text-500 w-8 md:w-3 font-medium">Kelas Perlombaan</div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            <p-chip
              *ngFor="let class of data.class"
              [label]="class.name"
              styleClass="mr-2 mb-2"
            ></p-chip>
          </div>
        </li>
      </ul>
    </ng-container>
    <ng-template #loading>
      <ul class="list-none p-0 m-0">
        <li
          class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 w-8 md:w-3 font-medium">
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
          </div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            <p-skeleton styleClass="mb-2"></p-skeleton>
          </div>
        </li>
        <li
          class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 w-8 md:w-3 font-medium">
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
          </div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            <p-skeleton styleClass="mb-2"></p-skeleton>
          </div>
        </li>
        <li
          class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 w-8 md:w-3 font-medium">
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
          </div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            <p-skeleton styleClass="mb-2"></p-skeleton>
          </div>
        </li>
        <li
          class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 w-8 md:w-3 font-medium">
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
          </div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            <p-skeleton styleClass="mb-2"></p-skeleton>
          </div>
        </li>
        <li
          class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 w-8 md:w-3 font-medium">
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
          </div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            <p-skeleton styleClass="mb-2"></p-skeleton>
          </div>
        </li>
        <li
          class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 w-8 md:w-3 font-medium">
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
          </div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            <p-skeleton styleClass="mb-2"></p-skeleton>
          </div>
        </li>
        <li
          class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
        >
          <div class="text-500 w-8 md:w-3 font-medium">
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
          </div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            <p-skeleton styleClass="mb-2"></p-skeleton>
          </div>
        </li>
        <li
          class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap"
        >
          <div class="text-500 w-8 md:w-3 font-medium">
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
          </div>
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
            <p-skeleton styleClass="mb-2"></p-skeleton>
          </div>
        </li>
      </ul>
    </ng-template>
  </div>
</div>
<p-toast></p-toast>
