<div class="grid">
  <div class="col-12 md:col-6 lg:col-3 p-2">
    <div class="p-3 text-center bg-blue-500" style="border-radius: 12px">
      <span
        class="inline-flex justify-content-center align-items-center bg-blue-600 border-circle mb-3 p-3"
        ><i class="pi pi-inbox text-xl text-white"></i
      ></span>
      <div class="text-2xl font-medium text-white mb-2">123K</div>
      <span class="text-blue-100 font-medium">Messages</span>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 p-2">
    <div class="p-3 text-center bg-purple-500" style="border-radius: 12px">
      <span
        class="inline-flex justify-content-center align-items-center bg-purple-600 border-circle mb-3 p-3"
        ><i class="pi pi-map-marker text-xl text-white"></i
      ></span>
      <div class="text-2xl font-medium text-white mb-2">23K</div>
      <span class="text-purple-100 font-medium">Check-ins</span>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 p-2">
    <div class="p-3 text-center bg-indigo-500" style="border-radius: 12px">
      <span
        class="inline-flex justify-content-center align-items-center bg-indigo-600 border-circle mb-3 p-3"
        ><i class="pi pi-file text-xl text-white"></i
      ></span>
      <div class="text-2xl font-medium text-white mb-2">23K</div>
      <span class="text-indigo-100 font-medium">Files</span>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3 p-2">
    <div class="p-3 text-center bg-orange-500" style="border-radius: 12px">
      <span
        class="inline-flex justify-content-center align-items-center bg-orange-600 border-circle mb-3 p-3"
        ><i class="pi pi-users text-xl text-white"></i
      ></span>
      <div class="text-2xl font-medium text-white mb-2">40K</div>
      <span class="text-orange-100 font-medium">Users</span>
    </div>
  </div>
  <div class="col-12 md:col-6 p-2">
    <div class="surface-card shadow-2 border-round p-4">
      <div class="flex align-items-center justify-content-between mb-4">
        <span class="text-xl font-medium text-900">Quarter Goals</span>
        <div class="ml-auto">
          <button
            pbutton=""
            pripple=""
            icon="pi pi-ellipsis-v"
            class="p-element p-button-text p-button-plain p-button-rounded p-button p-component p-button-icon-only"
          >
            <span
              class="p-button-icon pi pi-ellipsis-v"
              aria-hidden="true"
            ></span>
          </button>
        </div>
      </div>
      <div class="surface-border border-1 border-round p-3 mb-4">
        <span class="text-900 font-medium text-3xl"
          >85% <span class="text-600">(2125/2500)</span></span
        >
        <ul class="mt-3 list-none p-0 mx-0 flex">
          <li
            class="flex-1 bg-indigo-500 border-round-left"
            style="height: 1rem"
          ></li>
          <li class="flex-1 bg-blue-500" style="height: 1rem"></li>
          <li class="flex-1 bg-orange-500" style="height: 1rem"></li>
          <li class="flex-1 bg-purple-500" style="height: 1rem"></li>
          <li class="flex-1 bg-yellow-500" style="height: 1rem"></li>
          <li class="flex-1 bg-cyan-500" style="height: 1rem"></li>
          <li
            class="flex-1 surface-500 border-round-right"
            style="height: 1rem"
          ></li>
        </ul>
      </div>
      <ul class="mt-4 list-none p-0 mx-0">
        <li class="flex align-items-center pb-3">
          <span
            class="border-round bg-indigo-500 mr-3 flex-shrink-0"
            style="width: 1rem; height: 1rem"
          ></span
          ><span class="text-xl font-medium text-90">Watch</span
          ><span class="text-600 text-xl font-medium ml-auto">152</span>
        </li>
        <li class="flex align-items-center py-3">
          <span
            class="border-round bg-blue-500 mr-3 flex-shrink-0"
            style="width: 1rem; height: 1rem"
          ></span
          ><span class="text-xl font-medium text-90">Blue Band</span
          ><span class="text-600 text-xl font-medium ml-auto">63</span>
        </li>
        <li class="flex align-items-center py-3">
          <span
            class="border-round bg-orange-500 mr-3 flex-shrink-0"
            style="width: 1rem; height: 1rem"
          ></span
          ><span class="text-xl font-medium text-90">Controller</span
          ><span class="text-600 text-xl font-medium ml-auto">23</span>
        </li>
        <li class="flex align-items-center py-3">
          <span
            class="border-round bg-purple-500 mr-3 flex-shrink-0"
            style="width: 1rem; height: 1rem"
          ></span
          ><span class="text-xl font-medium text-90">Lime Band</span
          ><span class="text-600 text-xl font-medium ml-auto">42</span>
        </li>
        <li class="flex align-items-center py-3">
          <span
            class="border-round bg-yellow-500 mr-3 flex-shrink-0"
            style="width: 1rem; height: 1rem"
          ></span
          ><span class="text-xl font-medium text-90">Phone Case</span
          ><span class="text-600 text-xl font-medium ml-auto">134</span>
        </li>
        <li class="flex align-items-center py-3">
          <span
            class="border-round bg-cyan-500 mr-3 flex-shrink-0"
            style="width: 1rem; height: 1rem"
          ></span
          ><span class="text-xl font-medium text-90">T-Shirt</span
          ><span class="text-600 text-xl font-medium ml-auto">89</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-12 md:col-6 p-2">
    <div class="surface-card shadow-2 border-round p-4">
      <div class="text-xl text-900 font-medium mb-5">Latest News</div>
      <ul class="list-none p-0 m-0">
        <li class="pb-3 border-bottom-1 surface-border">
          <div class="font-medium text-900 mb-2">Aenean euismod elementum</div>
          <div class="line-height-3 text-600" style="max-width: 30rem">
            Vitae turpis massa sed elementum tempus egestas sed sed risus. In
            metus vulputate eu scelerisque felis imperdiet proin.
          </div>
        </li>
        <li class="py-3 border-bottom-1 surface-border">
          <div class="font-medium text-900 mb-2">
            In iaculis nunc sed augue lacus
          </div>
          <div class="line-height-3 text-600" style="max-width: 30rem">
            Viverra vitae congue. Nisi scelerisque eu ultrices vitae auctor eu
            augue ut lectus. Elementum eu facilisis sed odio morbi.
          </div>
        </li>
        <li class="py-3 border-bottom-1 surface-border">
          <div class="font-medium text-900 mb-2">
            Proin sagittis nisl rhoncus
          </div>
          <div class="line-height-3 text-600" style="max-width: 30rem">
            In pellentesque massa placerat duis ultricies lacus. Ac feugiat sed
            lectus vestibulum mattis ullamcorper.
          </div>
        </li>
      </ul>
      <div class="flex justify-content-between pt-3">
        <button
          pbutton=""
          pripple=""
          label="Clear All"
          class="p-element p-ripple p-button-outlined p-button-secondary w-6 mr-2 p-button p-component"
        >
          <span class="p-button-label">Clear All</span
          ><span class="p-ink"></span></button
        ><button
          pbutton=""
          pripple=""
          label="New Entry"
          class="p-element p-ripple p-button-outlined w-6 ml-2 p-button p-component"
        >
          <span class="p-button-label">New Entry</span
          ><span class="p-ink"></span>
        </button>
      </div>
    </div>
  </div>
</div>
